{% extends 'layouts/main.html' %} {% block title %} Session {{session_id}}{%
endblock %} {% block content %}

<script>
   function joinRound() {
     let user = "{{ user_id }}"
     let url = "{{ url_for("views.view_round", session_id=session_id, round_id=current_round_id) }}"
     let payload = {
       user_id: user,
     }
     // jquery extend redirect with post datafunction
     $.extend(
       {
  redirectPost: function(location, args)  {
    var form = '';
    $.each( args, function( key, value ) {
      form += '<input type="hidden" name="'+key+'" value="'+value+'">';
    });
    $('<form action="'+location+'" method="POST">'+form+'</form>').appendTo('body').submit();
  }
     });
     $.redirectPost(url, payload)
   }
</script>
<h1>Session: {{ session_id }} | Playing as: {{ user_id }}</h1>
<!-- <ul>
  {% for r_id, start_time, end_time in round_times %}
    <li>
      <p> {{ r_id }} </p>
      <button type="button" onClick="joinRound()">
	Join Round {{ current_round_number }}
      </button>
      </p>
    </li>
  {% endfor %}
       </ul> -->
<h2>Players:</h2>
<ul>
  {% for u_id in users %}
  <li>{{ u_id}}</li>
  {% endfor %}
</ul>
<h3>Scoreboard</h3>
<ul>
  {% for sd in score_dicts %}
  <li>{{ sd }}</li>
  {% endfor %}
</ul>
{% endblock %}
